{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>
<h3>Address:</h3>
<p>Minsk, st. Bobruisk, 6</p>
<h3>Phone number:</h3>
<p>+375(44) 541-77-12</p>
<h3>About the cinema:</h3>
<p>SKYLINE Cinema is a new chain of cinemas with unique technical solutions, atmospheric space, trendy design and exceptional service.
The network of cinemas SKYLINE Cinema will be developed in Minsk and regions throughout Belarus. Multiplexes will appear in large shopping centers with busy traffic and family audiences.

The cinema space occupies more than 3,500 m2 in the Galileo shopping center. On three tiers, 7 cinema halls of different capacities will work.
The English architectural firm Chapman Taylor is responsible for the design, creating interiors for cinemas in Dubai (the famous multiplex in Dubai Mall), London, Hamburg and Madrid. There has never been anything like it in Belarus, both in terms of the visual concept and the level of finish and decor.

The ideal 4K image is provided thanks to the ultra-modern laser projectors of the fourth series BARCO SP4K and SP2K made in Belgium. Surround multi-channel sound is reproduced by high-quality MAG AUDIO acoustic systems and American QSC cinema processors. Silver screens from the industry leader - Galaite Prism give you the opportunity to enjoy the depth of colors from anywhere in the room. All this makes our cinemas one of the most high-tech in Belarus!


<div class="bottom-right">
   <h2>Random image of dog that can cheer you up:</h2>
        <p><p><img class="img-article" src="{{ dog_photo }}">
    </div>




{% endblock %}