{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>{{title}}</title>
	<link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
  {% for m in menu %}
 {% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
			<li class="last"><a href="#">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li class="nav-item has-submenu">
		<a class="nav-link" href="#">Genres</a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="#">Action</a></li>
			<li><a class="nav-link" href="#">Adventure</a></li>
			<li><a class="nav-link" href="#">Comedy"</a> </li>
			<li><a class="nav-link" href="#">Crime</a></li>
			<li><a class="nav-link" href="#">Drama</a></li>
			<li><a class="nav-link" href="#">Historical"</a> </li>
			<li><a class="nav-link" href="#">Horror</a></li>
			<li><a class="nav-link" href="#">Musicals</a></li>
			<li><a class="nav-link" href="#">Science</a> </li>
			<li><a class="nav-link" href="#">War</a></li>
			<li><a class="nav-link" href="#">Western</a></li>
			<li><a class="nav-link" href="#">Documentary</a> </li>
		</ul>
	</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>

</td></tr></table>
</td></tr>
	<tr><td valign=top>
</td></tr></table>
</body>
</html>