{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="article-list">
    {% for n in news %}
    <div class="article unicode-list">
        <h2><small>{{n.publish}}</small></h2>
        <h2><b><font size="6" color="black" face="Arial"> {{n.title}} </font> </b></h2>
        {% if n.photo %}
		<img class="img-article-left thumb"  src="{{ n.photo.url }}">
	{% endif %}
        <p>{{n.text|truncatewords:50}}</p>
        <div class="clear"></div>
        <a class="read-more" href="{{ n.get_absolute_url }}">Read news</a>
    </div>
	<hr>
	{% endfor %}
</div>
{% endblock %}