{% extends 'base.html' %}
{% block content %}
<h1 class="company-name"> Bommer </h1>
  <h3><font size="7" color="red" face="Arial">In theaters from September 20</font></h3>
{% load static %}
{% if news %}
<p><b><font size="6" color="black" face="Arial"> {{news.title}} </font> </b></p>
        {% if news.photo %}
		<p><img class="img-article-left thumb"  src="{{ news.photo.url }}">
	{% endif %}
        <p>{{news.text|truncatewords:50}}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ news.get_absolute_url }}">Read news</a></p>
{% endif %}

<div class="parent">
    <div class="block">
        <p><a href="https://skyline.by/rechitsa/" target="_blank">
<img src="{% static 'images/giphy.gif' %}"
width="468" height="60" alt="images/giphy.gif" title="Ждём вас у нас!" border="0" />
</a></p>
    </div>
    <audio controls>
<source src = "{% static 'audio/ANNA ASTI - Царица.mp3' %}"/>
    </audio>
</div>
<div class="slider">
    <div class="slide-track">
        <h2>Our  Partners</h2>
    {% for banner in banners %}
        <div class="slide">
            <a href="{{ banner.link }}" target="_blank">
        <img src="{{ banner.image.url }}" height="100" width="250" alt="" />
          </a>
        </div>
    {% endfor %}
</div>
</div>

<!-- Форма для изменения интервала ротации баннеров -->
{% if request.user.is_superuser %}
<form method="post" action="{% url 'change_rotation_interval' %}">
    {% csrf_token %}
    {{ rotation_interval_form.as_p }}
    <button type="submit">Save</button>
</form>
{% endif %}
<script id="rotationInterval" data-rotation-interval="{{ request.session.rotation_interval|default:5000 }}"></script>
<script src="{% static 'js/banner_rotation.js' %}"></script>
{% endblock %}