{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>
<h2>Privacy Policy and Use of Requested Data</h2>
<hr> 1. Basic concepts<br>
Website – a website located on the Internet at kristall-kino.ru.<br>

Site resource – information content of the site (applications, links, documents, e-books, photographs and other information products).<br>

User – a user of the Site, registered in the prescribed manner and using the site’s resources.<br>

Policy – this Model Privacy Policy on the use of the requested data.<br>

<hr> 2. General provisions<br>
This Policy is an official standard document and determines the procedure for processing and protecting information about individuals using the Site Resource in accordance with Federal Law of July 27, 2006 N 152-FZ “On Personal Data”.<br>

The purpose of this Policy is to ensure adequate protection of information about users, including their personal data, from unauthorized access and disclosure in accordance with Federal Law of July 27, 2006 N 152-FZ “On Personal Data”.<br>

Relations related to the collection, storage, distribution and protection of information about users are governed by this Policy and current Russian legislation.<br>

The current version of the Policy, which is a public document, was developed by the Site Administration and is available to any Internet user by clicking on the “Privacy Policy” hypertext link.<br>

The Site Administration has the right to make changes to this Policy. When changes are made to the Policy, the Site Administration notifies users by posting a new version of the Policy on the Site at the permanent address: kristall-kino.ru no later than 10 days before the relevant changes come into force. Previous versions of the Policy are stored in the documentation archive of the Site Administration.<br>

By using the Site Resources, the user agrees to the terms of this Policy.<br>

If the user does not agree with the terms of this Policy, the use of the Site Resources must be stopped immediately.<br>

<hr> 3. Terms of use of the Site Resources<br>
When providing services for the use of Site Resources, the Site Administration, acting reasonably and in good faith, believes that the user:<br>

– has all the necessary rights allowing him to use the Site Resources;<br>

– indicates reliable information about himself to the extent necessary to use the Site Resources;<br>

– understands that some types of information transferred to them when using the Site Resources cannot be deleted by the user himself;<br>

– is familiar with this Policy, agrees with it and assumes the rights and obligations specified in it.<br>

The site administration does not verify the accuracy of the information received (collected) about users.<br>

<hr> 4. Purposes of information processing<br>
The site administration processes information about users, including their personal data, in order to fulfill the obligations of the site administration to users regarding the use of site resources and providing users with current and final information.<br>

<hr> 5. Composition of information about users<br>
The site administration can process information about users, which includes:
<p class="indent-1">5.1. Personal data of users provided with the consent of users and necessary for using the Site Resources: name, contact phone number, email.</p>

<hr> 6. Processing of users’ personal data <p class="indent-1">6.1. The processing of personal data is carried out on the basis of the following principles:<br> <p class="indent-2">a) the legality of the purposes and methods of processing personal data and integrity;</p>
  <p class="indent-2">b) compliance of the purposes of processing personal data with the goals predetermined and stated when collecting personal data, as well as with the powers of the Site Administration;</p>

  <p class="indent-2">c) compliance of the volume and nature of the personal data processed, methods of processing personal data for the purposes of processing personal data;</p>

  <p class="indent-2">d) the inadmissibility of combining databases containing personal data created for incompatible purposes.</p>
<p class="indent-1">6.1.1. Conditions and purposes of processing personal data. The site administration processes the user’s personal data with his consent in order to provide services to the user for using the site Resources.</p>
  <p class="indent-1">6.1.2. Collection of personal data. The user’s personal data provided for in clause 5.1 of this Policy is transferred to the Site Administration with the user’s consent. The user's consent to the transfer of his personal data to the Site Administration is provided in the form of implicit actions when the user first downloads the Site Resources.</p>

  <p class="indent-1">6.1.3. Storage and use of personal data. Users' personal data is stored exclusively on electronic media and processed using automated systems.</p>

  <p class="indent-1">6.1.4. Transfer of personal data. Users' personal data is not transferred to any third parties, except as expressly provided for in this Policy. Providing personal data gender</p>
<div class="bottom-right"> <h3>Interesting fact about cats: {{ cat_fact }}</h3> </div>
{% endblock %}