<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Table</title>
    <link type="text/css" href="{% static 'css/rand_table.css' %}" rel="stylesheet"/>
</head>

<body>
    <div id="tableControls">
        <label for="tableSize">Table size: </label>
        <input type="number" id="tableSize" min="1" value="5">
        <button id="createTable">Create Table</button>
        <br>
        <label for="maxSelection">Max selection per row: </label>
        <input type="number" id="maxSelection" min="0" value="0">
        <button id="updateMaxSelection">Apply restrictions</button>
    </div>
    <div id="tableArea">
        <table id="table"></table>
    </div>
    <div id="tableActions">
        <button id="transpose">Transpose Table</button>
        <button id="addRow">Add Row</button>
        <button id="addColumn">Add Column</button>
    </div>
    <script src="{% static 'js/rand_tables.js' %}"></script>
</body>
</html>
