{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul>
    {% for v in vacancies %}
    <li class="vacancy">
        <p><b>Job title:</b><font size="3" color="black" face="Arial"> {{v.position}} </font>  </p>
        <p><b>Requirements:</b> <font size="3" color="black" face="Arial"> {{v.requirements}}</font> </p>
        <p><b>Possible salary:</b> <font size="3" color="black" face="Arial"> {{v.salary}} $</font> </p>
    </li>
        <div class="vacancy-description">
            <hr>
        </div>
    {% endfor %}
</ul>

{% endblock %}